@page "/leavetypes/create/"

@attribute [Authorize(Roles ="Administrator")]

<h3>Create a leave type</h3>
@if(string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

